<ion-header class="ion-no-border">
  <ion-toolbar style="--background: transparent;">
    <ion-buttons>
      <ion-back-button slot="start" mode="ios" text="" routerLink="/"
        style="color: black;"></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" name="help-circle-outline" color="dark" style="zoom: 3; padding-top: 4px; padding-right: 4px;"
      class="animated pulse infinite" routerLink="/slides-help-create-user"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="contenidoCreateUser" fullscreen>

  <ion-grid class="ion-no-padding">

    <ion-row>
      <ion-col>
        <ion-avatar (click)="cambiarAvatar()">
          <img [src]="direccionAvatar">
        </ion-avatar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-item class="itemNombre">
        <ion-input class="inputNombre" maxlength="20" placeholder="Ingresa tu nickname" [(ngModel)]="usuario.nombre"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-row style="height: 28%;">
          <ion-col size="1"></ion-col>
          <ion-col size="10">
            <ion-row>
              <ion-label>Correo:</ion-label>
            </ion-row>
            <ion-row>
              <ion-input placeholder="estudiante1@miumg.edu.gt" maxlength="30" class="inputDatosPersonales" [(ngModel)]="usuario.email"></ion-input>
            </ion-row>
          </ion-col>
          <ion-col size="1">
          </ion-col>
        </ion-row>

        <ion-row style="height: 28%;">
          <ion-col size="1"></ion-col>
          <ion-col size="10">
            <ion-row>
              <ion-label>Contraseña:</ion-label>
            </ion-row>
            <ion-row>
                <ion-item style="border-radius: 10px; width: 100%;" lines="none">
                  <ion-input placeholder="Mínimo 8 carácteres" class="inputDatosPersonales" [type]="type1" maxlength="19" [(ngModel)]="usuario.password"></ion-input>
                  <ion-icon [name]="eye1" 
                  slot="end" 
                  mode="md" 
                  (click)="eye1=='eye-outline'?eye1='eye-off-outline':eye1='eye-outline'; type1=='password'?type1='text':type1='password'"></ion-icon>
                </ion-item>
            </ion-row>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>

        <ion-row style="height: 28%;">
          <ion-col size="1"></ion-col>
          <ion-col size="10">
            <ion-row>
              <ion-label style="padding-top: 7%;">Confirma tu contraseña:</ion-label>
            </ion-row>
            <ion-row>
                <ion-item style="border-radius: 10px; width: 100%;" lines="none">
                  <ion-input placeholder="Mínimo 8 carácteres" class="inputDatosPersonales" [type]="type2" maxlength="19" [(ngModel)]="usuario.passwordConfirm"></ion-input>
                  <ion-icon [name]="eye2" slot="end" mode="md" 
                  (click)="eye2=='eye-outline'?eye2='eye-off-outline':eye2='eye-outline'; type2=='password'?type2='text':type2='password'">
                  </ion-icon>
                </ion-item>
            </ion-row>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: -20px;">
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-label style="padding: 0px !important;">Pregunta de seguridad:</ion-label>
        <ion-item style="border-radius: 10px;">
          <ion-select interface="action-sheet" mode="ios" cancelText="Cancelar" style="min-width: 100%; padding: 0px;" [(ngModel)]="usuario.pregunta">
          <ion-select-option value="¿Cuál es tu mayor meta?">¿Cuál es tu mayor meta?</ion-select-option>
            <ion-select-option value="¿Cuál es tu curso favorito?">¿Cuál es tu curso favorito?</ion-select-option>
            <ion-select-option value="¿Qué te hace sentir felicidad?">¿Qué te hace sentir felicidad?</ion-select-option>
            <ion-select-option value="¿Cuál fue tu primer lenguaje de programación?">¿Cuál fue tu primer lenguaje de programación?</ion-select-option>
            <ion-select-option value="¿Cuál es tu canción favorita?">¿Cuál es tu canción favorita?</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <ion-row style="margin-top: 5px;">
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-row>
          <ion-label style="padding: 0px !important;">Respuesta a pregunta de seguridad:</ion-label>
        </ion-row>
        <ion-row>
            <ion-item style="border-radius: 10px; width: 100%;" lines="none">
              <ion-input placeholder="Ingresa tu respuesta" class="inputDatosPersonales" [type]="type3" maxlength="20" [(ngModel)]="usuario.respuestaPregunta"></ion-input>
              <ion-icon [name]="eye3" slot="end" mode="md" 
              (click)="eye3=='eye-outline'?eye3='eye-off-outline':eye3='eye-outline'; type3=='password'?type3='text':type3='password'">
              </ion-icon>
            </ion-item>
        </ion-row>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    

    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <br>
        <ion-button color="dark" shape="round" expand="full" (click)="crearCuenta()">
          <ion-label class="ingresar">Crear mi cuenta</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>

  </ion-grid>

</ion-content>