
.contenidoCreateUser{
    --background: linear-gradient(220.6deg, rgb(116, 255, 217) 11.2%, rgb(88, 200, 223) 91.1%);
}

ion-back-button{
    font-size: 20px;
    padding: 8px;
}

ion-button{
    border-radius: 30px !important;
    box-shadow: 0px 14px 25px rgba(182, 30, 30, 0.59);
}

ion-grid{
    height: 100% !important;
}

ion-avatar{
    text-align: center;
    zoom: 1.7;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20%;
}

ion-avatar img{
    border-radius: 50% !important;
    overflow: hidden !important;
    border: solid rgb(120, 90, 230) !important;
}

.itemNombre{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: auto;
    margin-bottom: auto;
    --background: transparent;
    --highlight-background: rgb(120, 90, 230) !important;
}

.inputNombre{
    text-align: center;
    font-size: larger;
}

.itemDatos{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    --background: white;
    border-radius: 10px;
    height: 80%;
}

.inputDatosPersonales{
    border-radius: 10px;
    --background: white;
    width: 100% !important;
}

ion-label{
    padding-top: 5%;
}
