
<ion-header>
  <ion-toolbar class="ion-no-border" color="purple">
    <ion-title class="ion-text-center" style="padding: 8px 8px 8px 8px;">Reestablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenidoRecuperarPassword">

  <ion-grid>
    <ion-row style="height: 50px;"></ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-card mode="ios">
          <img src="/assets/svg/unDraw/passwordMobile.svg" class="imageInformacionRecuperarPassword">
      
          <ion-card-header>
            <ion-card-title>Nueva contraseña</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            Ingresa tus nuevos datos y confírmalos. 
            <br><br>
            <div class="ion-text-start" style="padding: 0px 8px 8px 8px;">
              <ion-label>Nueva contraseña:</ion-label>
            </div>
            <ion-item style="border-radius: 10px; width: 100%;" lines="none" class="inputCorreo">
              <ion-input placeholder="Mínimo 8 carácteres" [type]="type1" maxlength="19" [(ngModel)]="password"></ion-input>
              <ion-icon [name]="eye1" 
              slot="end" 
              mode="md" 
              (click)="eye1=='eye-outline'?eye1='eye-off-outline':eye1='eye-outline'; type1=='password'?type1='text':type1='password'"></ion-icon>
            </ion-item>
            <br>
            <div class="ion-text-start" style="padding: 8px 8px 8px 8px;">
              <ion-label>Confirma tu contraseña:</ion-label>
            </div>
            <ion-item style="border-radius: 10px; width: 100%;" lines="none" class="inputCorreo">
              <ion-input placeholder="Mínimo 8 carácteres" [type]="type2" maxlength="19" [(ngModel)]="passwordConfirm"></ion-input>
              <ion-icon [name]="eye2" 
              slot="end" 
              mode="md" 
              (click)="eye2=='eye-outline'?eye2='eye-off-outline':eye2='eye-outline'; type2=='password'?type2='text':type2='password'"></ion-icon>
            </ion-item>
            <br><br>
            <ion-button color="purple" (click)="login()">
              ¡Recuperar e ingresar!
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
