<ion-content class="contenidoLogin" fullscreen>

  <ion-grid class="ion-no-padding">

    <!-- Área alta------------------------ -->
    <ion-row class="imagenTop animate__animated animate__fadeInDown slow delay-1s">
      <ion-col size="6"></ion-col>
      <ion-col size="3"></ion-col>
      <ion-col size="3" class="ion-text-end" style="padding: 10px 16px 16px 16px;">
        <ion-icon name="help-circle-outline" color="dark" style="zoom: 1.1;" class="animate__animated animate__pulse animate__infinite" routerLink="/slides-help"></ion-icon>
      </ion-col>
    </ion-row>
    <!-- Área alta------------------------ -->

    <!-- Área Central Alta --------------- -->
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-icon class="animate__animated animate__pulse animate__slow" src="../../../assets/svg/unDraw/polaroid.svg" style="zoom: 11;"></ion-icon>
        <ion-label class="classUMG">ClassUMG</ion-label>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
    <!-- Área Central Alta --------------- -->

    <!-- Área Central Final -------------- -->
    <ion-row>
      <ion-col>
        <ion-row style="height: 35%;">
          <ion-col size="2"></ion-col>
          <ion-col size="8">
            <ion-input [placeholder]="'Usuario'" class="ion-margin-bottom inputUsuario" mode="md" maxlength="15" [(ngModel)]='usuario.usuario'></ion-input>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>

        <ion-row style="height: 35%;">
          <ion-col size="2"></ion-col>
          <ion-col size="8">
            <ion-item style="border-radius: 10px; height: 70%;" lines="none">
              <ion-input [placeholder]="'Contraseña'" [type]="tipoInput" class="ion-margin-bottom" mode="md" maxlength="19" [(ngModel)]='usuario.password'>
              </ion-input>
              <ion-icon [name]="eye" slot="end" style="padding-bottom: 9%;" mode="md" (click)="clickEye()"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col size="4" class="ion-padding-end">

            <ion-button color="sky" shape="round" routerLink="/create-user">
              <ion-label class="crearCuenta">Crear Cuenta</ion-label>
            </ion-button>

          </ion-col>
          <ion-col size="4" class="ion-padding-start">

            <ion-button color="dark" shape="round" (click)="login()">
              <ion-label class="ingresar">Ingresar</ion-label>
            </ion-button>

          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
    <!-- Área Central Final -------------- -->

    <br>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-button color="dark" shape="round" (click)="invitadoLogin()"> <!-- Al ingresar como invitado borar jwt -->
          <ion-label class="crearCuenta">Ingresar como invitado</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>

    </ion-row>
    <!-- Área Final ---------------------- -->
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <div style="padding-top: 20px;" class="ion-text-center" (click)="recuperarPassword()">
          <a [routerLink]='' >¿Olvidaste la contraseña?</a>
        </div>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <!-- Área Final ---------------------- -->

  </ion-grid>

</ion-content>