
<ion-grid>

  <ion-row>

    <ion-col size="4">
      <ion-card class="animate__animated animate__zoomInDown">
        <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-icon src="../../../assets/svg/icons/calendario.svg"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Calendario</ion-label>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card class="animate__animated animate__slideInUp">
        <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-icon src="../../../assets/svg/icons/libro.svg"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Biblioteca</ion-label>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
    
    <ion-col size="4">
      <ion-card class="animate__animated animate__zoomInUp">
        <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-icon src="../../../assets/svg/icons/temas-varios.svg"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Temas Varios</ion-label>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

</ion-grid>