
<ion-content>
  <ion-card class="ion-no-border">
    <ion-card-header>
      <ion-icon src="../../../assets/svg/unDraw/polaroid.svg" style="zoom:10;" class="animated pulse slow infinite"></ion-icon>
      <ion-card-title>ClassUMG</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>Estás usando la versión:</ion-card-title>
      <ion-label class="large">1.0.0</ion-label>
      <br><br>
      <ion-card-title>Fecha de liberación:</ion-card-title>
      <ion-label class="large">30.04.2020</ion-label>
      <br><br>
      <ion-label class="medium">
        Recuerda activar la actualización automática para recibir las mejoras que constantemente hacemos.
      </ion-label><br><br>
      <ion-label class="medium">
        Gracias por usar nuestros servicios.
      </ion-label><br><br>
      <ion-button color="warning" (click)="salir()">Salir</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
