
<ion-footer>

  <ion-tabs class="ion-no-border ion-no-margin">

    <ion-tab-bar slot="start" class="tabBar">
  
      <ion-tab-button tab="home">
        <ion-icon src="../../../assets/svg/icons/home.svg"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Foro">
        <ion-icon src="../../../assets/svg/icons/foro4.svg"></ion-icon>
        <ion-label>Foro</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Cursos">
        <ion-icon src="../../../assets/svg/icons/Cursos.svg"></ion-icon>
        <ion-label>Cursos</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
