

ion-tab-bar{
    min-height: 80px !important;
    --background: transparent;
    --ion-color-base: transparent !important;
    --opacity: .8;
    backdrop-filter: saturate(180%) blur(20px);
}

ion-tabs{
    min-height: 80px;
}

ion-label{
    font-size: large;
    font-family: 'Baloo Bhaina 2 Negrita';
    color: black;
}

ion-icon{
    zoom: 1.5;
}

ion-tab-button {
    --background: transparent;
    --ion-color-base: transparent !important;
    min-width: 80px;
}

.tabBar{
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-footer{
    --background: transparent;
    --ion-color-base: transparent !important;
    min-height: 80px;
    --opacity: .8;
    backdrop-filter: saturate(180%) blur(20px);
}
