
<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon name="menu-sharp" menu="primerMenu" color="primary"></ion-icon>
      </ion-button>

    </ion-buttons>

    
    <ion-title (click)="modalVersion()">ClassUMG</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="../../../assets/svg/avatars/{{avatarDir}}.svg"></ion-img>
      </ion-avatar>
    </ion-buttons>

  </ion-toolbar>
</ion-header>