
<ion-header>
  <ion-toolbar class="ion-no-border" color="purple">
    <ion-title class="ion-text-center" style="padding: 8px 8px 8px 8px;">Recuperación de contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenidoRecuperarPassword">

  <ion-grid *ngIf="stepOne">
    <ion-row style="height: 50px;"></ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-card mode="ios">
          <img src="/assets/svg/unDraw/forgotPassword.svg" class="imageInformacionRecuperarPassword">
      
          <ion-card-header>
            <ion-card-title>¡Ups!</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            Parece que has olvidado tu contraseña, pero no te preocupes. Te enviaremos una contraseña provisional a tu correo universitario.
            <br><br>
            <ion-input placeholder="estudiante1@miumg.edu.gt" class="inputCorreo" [(ngModel)]="email"></ion-input>
            <br><br>
            <ion-button color="purple" (click)="recuperarPasswordMethod()">
              ¡Recuperar!
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!stepOne">
    <ion-row style="height: 50px;"></ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-card mode="ios">
          <img src="/assets/svg/unDraw/security.svg" class="imageInformacionRecuperarPassword">
      
          <ion-card-header>
            <ion-card-title>¡No te preocupes!</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            Responde esta pregunta de seguridad para que podamos verificar que eres tú, luego te enviaremos a tu email tu contraseña provisional.
            <br><br>
            <ion-label style="color: black;">{{this.preguntaDeSeguridad}}</ion-label>
            <br><br>
            <ion-item style="border-radius: 10px; width: 100%;" lines="none">
              <ion-input placeholder="Ingresa tu respuesta" class="inputDatosPersonales" [type]="type" maxlength="20" [(ngModel)]="respuestaPreguntaDeSeguridad"></ion-input>
              <ion-icon [name]="eye" slot="end" mode="md" 
              (click)="eye=='eye-outline'?eye='eye-off-outline':eye='eye-outline'; type=='password'?type='text':type='password'">
              </ion-icon>
            </ion-item>
            <br><br>
            <ion-button color="purple" (click)="verificarRespuestaDePregunta()">
              ¡Soy yo!
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
